/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        width: 95%;
        margin: 0 auto;
    }
    .nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(105, 130, 218);
    }
    .nav__link{
        margin: 1em;
        font-size: 1em;
        text-decoration: none;
        color: white;
    }
    .banner{
        border: solid;
        margin: 5%;
        padding: 5%;
        text-align: center; 
    }
    .panel__title, .gallery__title{
        text-align: center;
    }
    .promotion__content{
    border: solid;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 5%;
    margin: 5%;
    }
    .promotion__list{ /* update to make list flex-start using flex-item property */
        border: solid;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}